@import "../components/Header/style.css";
@import "../components/AppContainer/style.css";
@import "../components/Game/style.css";
@import "../components/TastPopup/style.css";
@import "../components/GameResultPopup/style.css";

*,
*::before,
*::after {
  color: #fff;
}

#app {
  background-color: #000;
}

button {
  cursor: pointer;
}
